<div>
  <div id="header">
    <div class="mobile-menu">Menu</div>
    {{ page.header }}
  </div>
  <div>
    {{ page.content }}
  </div>
  <div id = "main-footer">
    <div id="footer">
      <div>
        {{ page.footer_first }}
      </div>
      <div>
        {{ page.footer_second }}
      </div>
      <div>
        {{ page.footer_third }}
      </div>
    </div>
    <div id="footer-fourth">
      {{ page.footer_fourth }}
    </div>
  </div>
</div>
